# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]

# Django stuff:
**/*.log

# SQLite3
db.sqlite3

# Google App Engine specific stuff
gae_deploy.sh

# Specific project files
torpeeker/local_settings.py
